{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="container login">
    <div class="row ">
        <div class="center col-md-4 well">
            <legend>{% trans 'Please Sign In' %}</legend>
            {% if form.errors %}
            <div class="alert alert-danger">
                <a class="close" data-dismiss="alert" href="#">×</a>{% trans 'Incorrect Username or Password'%}!
            </div>
            {% endif %}
            <form method="POST"  role="form" action="" accept-charset="UTF-8">
	            {% csrf_token %}
	            <div class="form-group">
	            	<input type="text" id="{{ form.username.id_for_label }}" class="form-control" name="username" placeholder="{% trans 'Username' %}" />
	            </div>
	            <div class="form-group">
	            	<input type="password" id="{{ form.password.id_for_label }}" class="form-control" name="password" placeholder="{% trans 'Password' %}" />
            	</div>
	            <!--<label class="checkbox">
	                <input type="checkbox" name="remember" value="1" />{% trans 'Remember Me' %}
	            </label>-->
	            <button type="submit" name="submit" class="btn btn-primary btn-block">{% trans 'Sign in' %}</button>
	            <div class="login-sub-data">
	            	Version: {{ SETTINGS.VERSION }}
	           	</div>
            </form>
        </div>
    </div>
</div>
{% endblock %}