.navbar-inverse .brand:hover {
    color: #999;
}

.table td.text-right, .table th.text-right {
    text-align: right;
}

ul.errorlist {display:none;}

ul.errorsinform{
	list-style: none;
	list-style-type: none;
	padding:0; 
	margin:0;
}

.login{padding-top: 65px;}
.center{float: none; margin-left: auto; margin-right: auto;}

.login-sub-data {
    text-align: center;
    color:gray;
}
