#panel_header_terms_of_use{
	font-size: 1.5em;
}

#panel_header_title{
	font-size: 20px;
}

.x-panel-header-text{
	font-size: 12px;
}

.x-toolbar td, .x-toolbar span, .x-toolbar input, .x-toolbar div, .x-toolbar select, .x-toolbar label {
	font-size: 12px;
}