{% load i18n%}
<h1>
  {%if object.name %}
  	{{ object.name }}
  {% else %}
  	{{ object.title }}
  {% endif %}
  <br />
  {%if object.name %}
  	{{ object.title }}
  {% endif %}
  <small></small>
</h1>

<hr>
<p>{%trans 'Are you sure you want to delete this item? All related items will be deleted too.'%}</p>
<form action="" method="post">
  {% csrf_token %}
  <input type="hidden" name="post" value="yes" />
  <input class="btn btn-primary" type="submit" value="{%trans "Yes, I'm sure"%}" />
</form>
<hr>
