{% extends 'base.html' %}
{% load i18n%}
{% block nav-projects %}active{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li>
    <a href="{% url 'home' %}">{%trans 'Home'%}</a>
  </li>
  <li>
    <a href="{% url 'group-list' %}">{%trans 'Maps'%}</a>
  </li>
  <li class="active">{{ object }}</li>
</ul>
{% endblock %}

{% block content %}
<h1>
  <span class="pull-right">
    <a class="btn btn-warning" href="{% url 'group-update' object.slug %}">
      <i class="glyphicon glyphicon-pencil"></i> {%trans 'Edit'%}
    </a>
    <a class="btn btn-danger" href="{% url 'group-delete' object.slug %}">
      <i class="glyphicon glyphicon-remove"></i> {%trans 'Remove'%}
    </a>
  </span>
  {{ object.name }}
  <br />
  <small>{{ object.title }}</small>
</h1>
<hr>
{% if object.description %}

<div class="well">
  <p>
    <h4>In questa sezione si visualizzano le specifiche del gruppo tematico e si gestiscono i progetti cartografici associati</h4>
    <ul class="unstyled">
    <li>Per visualizzare le specifiche del singolo progetti cliccare sul <strong>nome del progetto</strong> o sul relativo link <strong>"Dettaglio"</strong></li>
    <li>Per modificare le specifiche del singolo progetto cliccare sul relativo link <strong>"Modifica"</strong></li>
    <li>Per visualizzare la mappa relativa al singolo progetto cliccare sul relativo link <strong>"Visualizza la mappa"</strong></li>
    <li>Per aggiungere un nuovo progetto cartografico al gruppo cliccare sul tasto <strong>"Nuovo progetto"</strong></li>
    </ul>
  </p>
</div>

<div class="well">
    <h3>{%trans 'Cartographic project description'%}</h3>
  {{ object.description }}
</div>

{% endif %}
<div class="row">
  <div class="col-md-6">
  <h3>{%trans 'Geografic component'%}</h3>
    <ul class="list-unstyled">
      <li><h4>{%trans 'Geographic coordinate system'%}</h4>
      <li><strong>{%trans 'SRID'%}</strong>: {{ object.srid }}</li>
      <li><strong>{%trans 'Units'%}</strong>: {{ object.units }}</li>
      <li><h4>{%trans 'Principal map'%}</h4>
      <li><strong>{%trans 'Max scale'%}</strong>: {{ object.max_scale }}</li>
      <li><strong>{%trans 'Min scale'%}</strong>: {{ object.min_scale }}</li>
      <li><h4>{%trans 'Overview Map'%}</h4>
      <li><strong>{%trans 'Panoramic max scale'%}</strong>: {{ object.panoramic_max_scale }}</li>
      <li><strong>{%trans 'Panoramic min scale'%}</strong>: {{ object.panoramic_min_scale }}</li>
    </ul>
  </div>
  <div class="col-md-6">
  <h3>{%trans 'Interface component'%}</h3>
    <ul class="list-unstyled">
      <li><h4>{%trans 'Interface language'%}</h4>
      <li><strong>{%trans 'Language'%}</strong>: {{ object.lang }}</li>
      <li><h4>{%trans 'Associated logo'%}</h4>
      <li><strong>{%trans 'HeaderLogoImg'%}</strong>:
        {% if object.header_logo_img %}
	<br />
        <img style="height: 120px;" src="{{ MEDIA_URL }}{{ object.header_logo_img }}" />
        {% else %}
        Not set
        {% endif %}
      </li>
      <li><strong>{%trans 'HeaderLogoHeight'%}</strong>: {{ object.header_logo_height }}</li>
      <li><strong>{%trans 'HeaderLogoLink'%}</strong>: {{ object.header_logo_link }}</li>
      <li><h4>{%trans 'Terms of use'%}</h4>
      <li><strong>{%trans 'HeaderTermsOfUseText'%}</strong>:{{ object.header_terms_of_use_text }}</li>
      <li><strong>{%trans 'HeaderTermsOfUseLink'%}</strong>: {{ object.header_terms_of_use_link }}</li>
    </ul>
  </div>
</div>
<hr>
<h2>
  {%trans 'Projects'%}
  <span class="pull-right">
    <a class="btn btn-primary" href="{% url 'project-create' object.slug %}">
      <i class="glyphicon glyphicon-plus"></i> {%trans 'New project'%}
    </a>
  </span>
</h2>
<form id="set-project-as-group-map-form" action="" method="post">
  {% csrf_token %}
  <table class="table table-striped table-condensed">
    <tr>
      <th>{%trans 'Thumbnail'%}</th>
      <th>{%trans 'Title'%}</th>
      <th>{%trans 'Is panoramic map'%}</th>
      <th class="text-right">{%trans 'Admin'%}</th>
    </tr>
    {% for project in group.project_set.all %}
    <tr>
      <td>
        <a href="{% url 'project-detail' project.slug %}">
          {% if project.thumbnail %}
          <img style="height: 60px;" src="{{ MEDIA_URL }}{{ project.thumbnail }}" />
          {% else %}
          <img src="http://placehold.it/80x60" />
          {% endif %}
      </td>
      <td><a href="{% url 'project-detail' project.slug %}">{{ project.title }}</a></td>
      <td><input type="radio" value="{{ project.slug }}" name="set-project-as-group-map"{% if project.is_panoramic_map %} checked{% endif %} /></td>
      <td class="text-right">
        <a class="btn btn-primary btn-sm" href="{% url 'project-show-map' project.slug %}?map={{ MEDIA_ROOT }}{{ project.qgis_file }}" target="_blank"><i class="glyphicon glyphicon-globe"></i> {%trans 'View map'%}</a> 
        <a class="btn btn-info btn-sm" href="{% url 'project-detail' project.slug %}"><i class="glyphicon glyphicon-info-sign"></i> {%trans 'Detail'%}</a>
        <a class="btn btn-warning btn-sm" href="{% url 'project-update' project.slug %}"><i class="glyphicon glyphicon-pencil"></i> {%trans 'Edit'%}</a> 
        <a class="btn btn-danger btn-sm" href="{% url 'project-delete' project.slug %}"><i class="glyphicon glyphicon-remove"></i> {%trans 'Remove'%}</a>
      </td>
    </tr>
    {% endfor %}
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th><input class="btn btn-default" type="submit" value="{%trans 'Set panoramic map'%}" /></th>
      <th></th>
    </tr>
  </table>
</form>
{% endblock content %}
