
{% extends 'base.html' %}
{% load i18n%}

{% block nav-projects %}active{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li>
    <a href="{% url 'home' %}">{% trans 'Home' %}</a>
  </li>
  <li class="active">{%trans 'Maps'%}</li>
</ul>
{% endblock %}

{% block content %}
<h1>
  {%trans 'Maps'%}<br />
  <small>{%trans 'Manage your maps'%}</small>
</h1>
<hr>
<div class="row">
<div class="col-md-12">
	<div class="well small">
	  <p>
	    <h4>In questa sezione è possibile visualizzare la lista dei gruppi tematici di cartografie presenti, gestirli e crearne di nuovi</h4>
	    <ul class="list-unstyled">
	    <li>Per visualizzare le specifiche dei singoli gruppi cliccare sul <strong>nome del gruppo</strong> o sul relativo link <strong>"Dettaglio"</strong></li>
	    <li>Per modificare le specifiche dei singoli gruppi cliccare sul relativo link <strong>"Modifica"</strong></li>
	    <li>Per aggiungere un nuovo gruppo tematico cliccare sul tasto <strong>"Nuovo gruppo"</strong></li>
	    </ul>
	  </p>
	</div>
<hr>
<!-- </div> -->
<!-- <div class="col-md-8"> -->
<h2>
  <span class="pull-right">
    <a class="btn btn-primary" href="{% url 'group-create' %}">
      <i class="glyphicon glyphicon-plus"></i> {%trans 'New group'%}
    </a>
  </span>
  {%trans 'Groups' %}
</h2>
<table class="table table-striped table-condensed">
</div>
  <tr>
    <th>{%trans 'Thumbnail'%}</th>
    <th>{%trans 'Name'%}</th>
    <th>{%trans 'Title'%}</th>
    <th class="text-right">{%trans 'Admin'%}</th>
  </tr>
  {% for object in object_list %}
  <tr>
      <td>
          <img style="height: 60px;" src="{{ MEDIA_URL }}{{ object.header_logo_img }}" />
      </td>
    <td><a href="{% url 'group-detail' object.slug %}">{{ object.name }}</a></td>
    <td>{{ object.title }}</td>
    <td class="text-right">
      <a class="btn btn-info btn-sm" href="{% url 'group-detail' object.slug %}"><i class="glyphicon glyphicon-info-sign"></i> {%trans 'Detail'%}</a> 
      <a class="btn btn-warning btn-sm"  href="{% url 'group-update' object.slug %}"><i class="glyphicon glyphicon-pencil"></i> {%trans 'Edit'%}</a>  
      <a class="btn btn-info btn-danger btn-sm"  href="{% url 'group-delete' object.slug %}"><i class="glyphicon glyphicon-remove"></i> {%trans 'Remove'%}</a> 
    </td>
  </tr>
  {% endfor %}
</table>
</div> <!--  close row -->
{% endblock content %}
