{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n%}

{% block nav-projects %}active{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li>
    <a href="{% url 'home' %}">{%trans 'Home'%}</a>
  </li>
  <li>
    <a href="{% url 'group-list' %}">{%trans 'Maps'%}</a>
  </li>
  {% if view.object %}
  <li>
    <a href="{% url 'group-detail' object.slug %}">{{ view.object.name }}</a>
  </li>
  <li class="active">{%trans 'Edit'%}</li>
  {% else %}
  <li class="active">{%trans 'Add group'%}</li>
  {% endif %}
</ul>
{% endblock %}

{% block content %}
{% if view.object %}
<h1>{{ view.object.name }}<br /><small>{{ view.object.title }}</small></h1>
{% else %}
<h1>Add group</h1>
{% endif %}
<hr>

<form enctype="multipart/form-data" action="." method="post" role="form">
  {% csrf_token %}
  {# form|crispy #}
  {%crispy form%}
  <hr>
  <input class="btn btn-primary" type="submit" value="{%trans 'Save'%}" />
</form>
{% endblock content %}
