{% extends 'base.html' %}
{% load i18n%}
{% block nav-projects %}active{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li>
    <a href="{% url 'home' %}">{%trans 'Home'%}</a>
  </li>
  <li>
    <a href="{% url 'group-list' %}">{%trans 'Maps'%}</a>
  </li>
  <li>
    <a href="{% url 'group-detail' object.slug %}">{{ object.name }}</a>
  </li>
  <li class="active">{%trans 'Remove'%}</li>
</ul>
{% endblock %}

{% block content %}
{% include 'projects/base_confirm_delete.html' %}
{% endblock content %}
