{% extends "base.html" %}
{# load crispy_forms_tags #}
{% load i18n%}

{% block nav-projects %}active{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li>
    <a href="{% url 'home' %}">{% trans 'Home' %}</a>
  </li>
  <li>
    <a href="{% url 'group-list' %}">{% trans 'Maps' %}</a>
  </li>
  <li>
    <a href="{% url 'group-detail' object.project.group.slug %}">{{ object.project.group.name }}</a>
  </li>
  <li>
    <a href="{% url 'project-detail' object.project.slug %}">{{ object.project.title }}</a>
  </li>
  <li>
    <a href="{% url 'layer-detail' object.slug %}">{{ object.name }}</a>
  </li>
  <li class="active">{% trans 'Edit' %}</li>
</ul>
{% endblock %}

{% block content %}
<h1>
  {{ object.name }}<br />
  <small>{{ object.title }}</small>
</h1>
<hr>

<form enctype="multipart/form-data" action="." method="post">
  {% csrf_token %}
  {# form|crispy #}
  {{ form.as_p }}
  <hr>
  <input class="btn btn-primary" type="submit" value="{%trans 'Save'%}" />
</form>
{% endblock content %}
