{% extends 'base.html' %}
{% load i18n %}
{% block nav-projects %}active{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li>
    <a href="{% url 'home' %}">{% trans 'Home' %}</a>
  </li>
  <li>
    <a href="{% url 'group-list' %}">{% trans 'Maps' %}</a>
  </li>
  <li>
    <a href="{% url 'group-detail' object.project.group.slug %}">{{ object.project.group }}</a>
  </li>
  <li>
    <a href="{% url 'project-detail' object.project.slug %}">{{ object.project }}</a>
  </li>
  <li class="active">{{ object }}</li>
</ul>
{% endblock %}

{% block content %}
<h1>
  <span class="pull-right">
    <a class="btn btn-warning" href="{% url 'layer-update' object.slug %}">
      <i class="glyphicon glyphicon-pencil"></i> {% trans 'Edit' %}
    </a>
    <a class="btn btn-danger" href="{% url 'layer-delete' object.slug %}">
      <i class="glyphicon glyphicon-remove"></i> {% trans 'Remove' %}
    </a>
  </span>
  {{ object.name }}
  <br />
  <small>{{ object.title }}</small>
</h1>
<hr>
{% if object.description %}
<div class="well">
  {{ object.description }}
</div>
{% endif %}

<div class="well">
  <p>
    <h4>In questa sezione è possibile creare e associare widget (sistemi di ricerca e tooltip) per lo strato in esame</h4>
    <ul class="unstyled">
    <li>Per creare un nuovo widget cliccare sul tasto <strong>"Aggiungi nuovo"</strong></li>
    <li>Una volta creato, il widget deve essere attivato. Per farlo modificare lo stato da <strong>"Non associato"</strong> a <strong>"Associato"</strong></li>
    <li>Si ricorda che una volta creato un widget, è possibile ritrovarlo ed attivarlo a livello dei diversi progetti dove lo strato in esame è presente</li>
    </ul>
  </p>
</div>

<ul class="list-unstyled">
  <li>
    <strong>{% trans 'Project' %}</strong>: {{ object.project.name }} / {{ object.project.title }}
  </li>
  <li>
    <strong>{% trans 'Type' %}</strong>: {{ object.layer_type|title }}
  </li>
  <li>
    <strong>{% trans 'Is visible' %}</strong>: {{ object.is_visible|yesno }}
  </li>
  {% if object.layer_type != "postgres" %}
  <li>
    <strong>{% trans 'Associated datafile' %}</strong>: {{ object.data_file }}
  </li>
  {% endif %}
</ul>
<hr>
{% if object.layer_type == "postgres" %}
<h2>
  {% trans 'Widgets' %}
  <span class="pull-right">
    <a class="btn btn-primary" href="{% url 'widget-create' object.slug %}">
      <i class="glyphicon glyphicon-plus"></i> {% trans 'Add new' %}
    </a>
  </span>
</h2>
<table class="table table-striped">
  <tr>
    <th>{% trans 'Name' %}</th>
    <th>{% trans 'Type' %}</th>
    <th class="text-right">{% trans 'Activation' %}</th>
    <th class="text-right">{% trans 'Edit' %}</th>
  </tr>
  {% for widget in widgets %}
  <tr>
    <td>
      <a href="#" class="" data-toggle="popover" title="" data-placement="top" data-content="<strong>Body:</strong><br />{{ widget.body }}<br /><strong>Datasource:</strong><br />{{ widget.datasource }}" data-original-title="Widget details">{{ widget.name }}</a></td>
    <td>{{ widget.widget_type }}</td>
    <td class="text-right">
      {% if widget.layerwidget %}
      <a  class="btn btn-default btn-sm" href="{% url 'widget-unlink' object.slug widget.slug  %}"><i class="glyphicon glyphicon-minus"></i> {%trans 'Unlink widget'%}</a>
      {% else %}
      <a class="btn btn-default btn-sm" href="{% url 'widget-link' object.slug widget.slug  %}"><i class="glyphicon glyphicon-link"></i> {%trans 'Link widget'%}</a>
      {% endif %}
    </td>
    <td class="text-right">
    	<a class="btn btn-warning btn-sm"  href="{% url 'widget-detail' widget.slug %}"><i class="glyphicon glyphicon-pencil"></i> {%trans 'Edit'%}</a>
	</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endblock content %}

{% block foot_js %}
{{ block.super }}
<script src="{{ STATIC_URL }}js/popover.js"></script>
{% endblock %}
