{% extends 'base.html' %}
{% load i18n%}

{% block nav-projects %}active{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li>
    <a href="{% url 'home' %}">{% trans 'Home' %}</a>
  </li>
  <li>
    <a href="{% url 'group-list' %}">{% trans 'Maps' %}</a>
  </li>
  <li>
    <a href="{% url 'group-detail' object.group.slug %}">{{ object.group.name }}</a>
  </li>
  <li class="active">{{ object.title }}</li>
</ul>
{% endblock %}

{% block content %}
<h1>
  <span class="pull-right">
    <a class="btn btn-info" href="{% url 'project-show-map' object.slug %}?map={{ MEDIA_ROOT }}{{ object.qgis_file }}" target="_blank">
      <i class="glyphicon glyphicon-globe"></i> {% trans 'View map' %}
    </a>
    <a class="btn btn-warning" href="{% url 'project-update' object.slug %}">
      <i class="glyphicon glyphicon-pencil"></i> {% trans 'Edit' %}
    </a>
    <a class="btn btn-danger" href="{% url 'project-delete' object.slug %}">
      <i class="glyphicon glyphicon-remove"></i> {% trans 'Remove' %}
    </a>
  </span>
  {{ object.name }}
  <br />
  <small>{{ object.title }}</small>
</h1>
<hr>
{% if object.description %}
<div class="well">
  {{ object.description }}
</div>
{% endif %}

<div class="well small">
  <p>
    <h4>In questa sezione si visualizzano le specifiche del progetto cartografico e si gestiscono gli strati geografici associati</h4>
    <strong>I tasti in alto a destra permettono di visualizzare e gestire il progetto cartografico corrente</strong>
    <ul class="unstyled">
    <li>Per visualizzare le specifiche del singolo strato geografico e associarvi nuovi widget cliccare sul <strong>nome dello strato</strong> o sul relativo link <strong>"Dettaglio"</strong></li>
    <li>Tramite un semplice sistema di spunte è possibile definire quali strati attivare nella visualizzazione della mappa rispetto a quelli definiti nel progetto di QGIS. Una volta definito il settaggio si conferma cliccando <strong>'Conferma la visibilità degli strati'</strong></li>
    </ul>
  </p>
</div>

<div class="row">
  <div class="col-md-6">
<ul class="list-unstyled">
  <li>
    <h4>{% trans 'Initial extent' %}</h4>
    {% with object.get_initial_extent_list as initial %}
    {% trans 'XMin (West)' %} = {{ initial.0 }}<br />
    {% trans 'YMin (South)' %} = {{ initial.1 }}<br />
    {% trans 'XMax (East)' %} = {{ initial.2 }}<br />
    {% trans 'YMax (North)' %} = {{ initial.3 }}
    {% endwith %}
  </li>
</ul>
  </br>
  </div>
  <div class="col-md-6">
<ul class="list-unstyled">
  <li>
    <h4>{% trans 'Thumbnail' %}</h4>
    {% if object.thumbnail %}
    <a href="{{ MEDIA_URL }}{{ object.thumbnail }}"><img style="height: 120px;" src="{{ MEDIA_URL }}{{ object.thumbnail }}" /></a>
    {% else %}
    <img src="http://placehold.it/160x120" />
    {% endif %}
  </li>
</ul>
  </div>
</div>
<hr>
<h2>{% trans 'Layers' %}</h2>
<form id="set-layer-visibility" action="" method="post">
  {% csrf_token %}
  <table class="table table-striped table-condensed">
    <tr>
      <th>{% trans 'Name' %}</th>
      <th>{% trans 'Type' %}</th>
      <th>{% trans 'Associated file' %}</th>
      <th>{% trans 'Is visible' %}</th>
      <th class="text-right">{% trans 'Admin' %}</th>
    </tr>
    {% for layer in object.layer_set.all %}
    <tr{% if layer.needs_data_file %} class="error"{% endif %}>
      <td><a href="{% url 'layer-detail' layer.slug %}">{{ layer.name }}</a></td>
      <td>{{ layer.layer_type|title }}</td>
      {% if layer.needs_data_file %}
      <td>{% trans 'Missing' %} (<a href="{% url 'layer-update' layer.slug %}">{% trans 'choose file' %}</a>)</td>
      {% elif layer.data_file %}
      <td>{{ layer.data_file }} (<a href="{% url 'layer-update' layer.slug %}">{% trans 'change' %}</a>)</td>
      {% else %}
      <td>{% trans 'Not applicable' %}</td>
      {% endif %}
      <td><input type="checkbox" value="{{ layer.slug }}" name="set-layer-visibility"{% if layer.is_visible %} checked{% endif %} /></td>
      <td class="text-right">
        <a class="btn btn-info btn-sm" href="{% url 'layer-detail' layer.slug %}"><i class="glyphicon glyphicon-info-sign"></i> {% trans 'Detail' %}</a>
        <a class="btn btn-warning  btn-sm" href="{% url 'layer-update' layer.slug %}"><i class="glyphicon glyphicon-pencil"></i> {% trans 'Edit' %}</a>
        <a class="btn btn-danger btn-sm" href="{% url 'layer-delete' layer.slug %}"><i class="glyphicon glyphicon-remove"></i> {% trans 'Remove' %}</a>
      </td>
    </tr>
    {% endfor %}
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th><input class="btn btn-default" type="submit" value="{% trans 'Set layer visibility'%}" /></th>
      <th></th>
    </tr>
  </table>
</form>
{% endblock content %}
