{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block nav-projects %}active{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li>
    <a href="{% url 'home' %}">{%trans 'Home'%}</a>
  </li>
  <li>
    <a href="{% url 'group-list' %}">{%trans 'Maps'%}</a>
  </li>
  {% if object %}
  <li>
    <a href="{% url 'group-detail' object.group.slug %}">{{ object.group.name }}</a>
  </li>
  <li>
    <a href="{% url 'project-detail' object.slug %}">{{ object.title }}</a>
  </li>
  <li class="active">{%trans 'Edit'%}</li>
  {% else %}
  <li>
    <a href="{% url 'group-detail' group.slug %}">{{ group.name }}</a>
  </li>
  <li class="active">{%trans 'Add project'%}</li>
  {% endif %}
</ul>
{% endblock %}

{% block content %}
{% if view.object %}
<h1>
  {{ view.object.name }}<br />
  <small>{{ view.object.title }}</small>
</h1>
{% else %}
<h1>{%trans 'Add project'%}</h1>
{% endif %}
<hr>
{% if form.errors %}
	<div class="alert alert-warning">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<ul class='errorsinform'>
		{% for field in form %} 
			{% if field.errors %}
			<li>{{ field.label }}: {{ field.errors|striptags }}</li>
			{% endif %}
		{% endfor %}
		</ul>
	</div>
{% endif %}
<form enctype="multipart/form-data" action="." method="post">
  {% csrf_token %}
  {{ form|crispy }}
  {# form.as_p #}
  <hr>
  <input class="btn btn-primary" type="submit" value="{%trans 'Save'%}" />
</form>
{% endblock content %}
