<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>QGIS-Browser</title>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}qgiswebclient/libs/ext/resources/css/ext-all-notheme.css"/>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}qgiswebclient/libs/ext/resources/css/xtheme-gray.css"/>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}qgiswebclient/libs/ext/ux/css/ux-all.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}qgiswebclient/css/TriStateTreeAndCheckbox.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}qgiswebclient/css/ThemeSwitcherDataView.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}qgiswebclient/css/popup.css" /> 
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}qgiswebclient/css/layerOrderTab.css" />
  <script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false"></script>
  <script src="{{ STATIC_URL }}js/main.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}qgiswebclient/libs/ext/adapter/ext/ext-base.js"></script>
  <!--<script type="text/javascript" src="{{ STATIC_URL }}qgiswebclient/libs/ext/adapter/ext/ext-base-debug.js"></script>-->
  <script type="text/javascript" src="{{ STATIC_URL }}qgiswebclient/libs/ext/ext-all.js"></script>
  <!--<script type="text/javascript" src="{{ STATIC_URL }}qgiswebclient/libs/ext/ext-all-debug-w-comments.js"></script>-->
  <script type="text/javascript" src="{{ STATIC_URL }}qgiswebclient/libs/ext/ux/ux-all.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}qgiswebclient/libs/proj4js/proj4js-compressed.js"></script>
  <!--<script type="text/javascript" src="{{ STATIC_URL }}qgiswebclient/libs/openlayers/lib/OpenLayers.js"></script>-->
  <script type="text/javascript" src="{{ STATIC_URL }}qgiswebclient/libs/openlayers/OpenLayers.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}qgiswebclient/libs/geoext/script/GeoExt.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}qgiswebclient/js/Translations.js"></script>
  <!-- before using QGIS Webclient you need to edit the GlobalOptions.js file-->
  <!-- you can start from one of the templates -->
  <script type="text/javascript" src="js/Customizations.js"></script>
  <script type="text/javascript" src="{% url 'group-global-options' object.group.slug %}"></script>
  <!-- before using the ThemeSwitcher in QGIS Webclient you need to edit the GISProjectListing.js file and -->
  <!-- you also need to place 300x200 pixel thumbnails with projectname.png in site/thumbnails -->
  <script type="text/javascript" src="{% url 'group-gis-project-listing' object.group.slug %}"></script>
  <script type="text/javascript">
    DjangoQGIS.projectslug = '{{ object.slug }}';
  </script>
  <script src="{{ STATIC_URL }}js/projloader.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}qgiswebclient/js/GetUrlParams.js"></script>
  <script type="text/javascript">
    var visibleLayers = [{% for layer in object.get_visible_layers %}'{{ layer }}'{% if not forloop.last %}, {% endif %}{% endfor %}];
  </script>
  <script type="text/javascript" src="{{ STATIC_URL }}qgiswebclient/js/TriStateTree.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}qgiswebclient/js/GUI.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}qgiswebclient/js/ThemeSwitcher.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/themeswitcherpatch.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}qgiswebclient/js/QGISExtensions.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}qgiswebclient/js/GeoNamesSearchCombo.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}qgiswebclient/js/FeatureInfoDisplay.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}qgiswebclient/js/LegendAndMetadataDisplay.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}qgiswebclient/js/WebgisInit.js"></script>
</head>
<style type="text/css">
<!--
#dpiDetection {
  height: 1in;
  left: -100%;
  position: absolute;
  top: -100%;
  width: 1in;
}
 
#panel_header_title {
  float: left;
  font-size: 12px;
}
#panel_header_link {
  float: left;
}
#panel_header_terms_of_use {
  float: right;
  font-weight: normal;
}

-->
</style>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/qwc.css" />
<body>
<!-- this empty div is used for dpi-detection - do not remove it -->
<div id="dpiDetection"></div>
</body>
</html>
