{% extends 'base.html' %}
{% load i18n%}
{% block nav-widgets %}active{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li>
    <a href="{% url 'home' %}">{% trans 'Home' %}</a>
  </li>
  <li class="active">{% trans 'Widgets' %}</li>
</ul>
{% endblock %}

{% block content %}
<h1>{% trans 'Widgets' %}</h1>
<hr>
<div class="well small">
  <p>
    <h4>In questa sezione è possibile gestire i widget precedentemente creati</h4>
    <ul class="list-unstyled">
    <li>Per visualizzare il json del widget cliccare sul <strong>nome del widget</strong> o sul relativo link <strong>"Dettaglio"</strong></li>
    <li>Per modificare il widget cliccare sul link <strong>'Modifica'</strong></li>
    <li>Per eliminare il widget cliccare sul link <strong>'Elimina'</strong></li></br>
    <li><h5><mark><strong>ATTENZIONE</strong></mark>: si ricorda che qualsiasi modifica applicata ad un widget si ripercuoterà su tutti i progetti in cui tale widget è stato associato, compresa l'eliminazione.</h5></li>
    </ul>
  </p>
</div>
<table class="table table-striped table-condensed">
  <tr>
    <th>{%trans 'Name'%}</th>
    <th>{%trans 'Type'%}</th>
    <th class="text-right">{% trans 'Admin' %}</th>
  </tr>
  {% for object in object_list %}
  <tr>
    <td><a href="{% url 'widget-detail' object.slug %}">{{ object.name }}</a></td>
    <td>{{ object.get_widget_type_display }}</td>
    <td class="text-right">
      <a class="btn btn-info btn-sm" href="{% url 'widget-detail' object.slug %}"><i class="glyphicon glyphicon-info-sign"></i> {% trans 'Detail' %}</a>
      <a class="btn btn-warning btn-sm" href="{% url 'widget-update' object.slug %}"><i class="glyphicon glyphicon-pencil"></i> {% trans 'Edit' %}</a>
      <a class="btn btn-danger btn-sm"  href="{% url 'widget-delete' object.slug %}"><i class="glyphicon glyphicon-remove"></i> {% trans 'Remove' %}</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock content %}
