{% extends 'base.html' %}
{% load i18n%}

{% block nav-widgets %}active{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li>
    <a href="{% url 'home' %}">{% trans 'Home' %}</a>
    <span class="divider">/</span>
  </li>
  <li>
    <a href="{% url 'widget-list' %}">{% trans 'Widgets' %}</a>
    <span class="divider">/</span>
  </li>
  <li class="active">{{ object }}</li>
</ul>
{% endblock %}

{% block content %}
{% include 'projects/base_confirm_delete.html' %}
{% endblock content %}
