{% extends 'base.html' %}
{% load i18n%}
{% block nav-projects %}active{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li>
    <a href="{% url 'home' %}">{% trans 'Home' %}</a>
  </li>
  <li>
    <a href="{% url 'group-list' %}">{% trans 'Projects' %}</a>
  </li>
  <li>
    <a href="{% url 'group-detail' layer.project.group.slug %}">{{ layer.project.group }}</a>
  </li>
  <li>
    <a href="{% url 'project-detail' layer.project.slug %}">{{ layer.project }}</a>
  </li>
  <li class="active">{{ layer }}</li>
</ul>
{% endblock %}

{% block content %}
<h1>
  Link {{ layer.name }} to {{ widget.name }}
</h1>
<hr>
<form enctype="multipart/form-data" action="." method="post">
  {% csrf_token %}
  {# form|crispy #}
  {{ form.as_p }}
  <hr>
  <input class="btn btn-primary" type="submit" value="Submit" />
</form>
<hr>
{% endblock content %}
