{% extends "base.html" %}
{% block extra-head %}
{% load crispy_forms_tags %}
{% load i18n%}
<script src="{{ STATIC_URL }}js/main.js"></script>
{% endblock %}
{% block nav-widgets %}active{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li>
    <a href="{% url 'home' %}">{% trans 'Home' %}</a>
  </li>
  <li>
    <a href="{% url 'widget-list' %}">{% trans 'Widgets' %}</a>
  </li>
  {% if object %}
  <li class="active"><a href="{% url 'widget-detail' object.slug %}">{{ object }}</a></li>
  <li class="active">{% trans 'Edit' %}</li>
  {% else %}
  <li class="active">{% trans 'Add a new widget' %}</li>
  {% endif %}

</ul>
{% endblock %}

{% block content %}
{% if view.object %}
<h1>{{ view.object.title }} <small>{{ view.object.code }}</small></h1>
<h2>{{ view.object.subtitle }}</h2>
{% else %}
<h1>{% trans 'Add a new widget'%}</h1>
{% endif %}
<hr>

<div class="well">
    <h4>In questa sezione è possibile creare e modificare i singoli widget</h4>
<div class="row">
  <div class="col-md-6">
    <ul class="list-unstyled">
    <li><h5>Creazione nuovo widget</h5></li>
    <li>Sceglie il <strong>"Nome"</strong> da associare allo strato</li>
    <li>Sceglie il <strong>"Tipo"</strong> di widget tra <strong>"Cerca"</strong> e <strong>"Tooltip"</strong></li>
    <li>Definire i vari parametri per il widget prescelto</li>
    <li>Cliccare infine sul tasto <strong>"Registra"</strong></li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="list-unstyled">
    <li><h5>Modificare un widget</h5></li>
    <li>Modificare i vari parametri per il widget prescelto</li>
    <li>Cliccare sul tasto <strong>"Registra"</strong></li>
    </ul>
</div>
</div>
</div>

<!--Layer name: {{ layer }}<br />
Layer database columns: {{ layer.database_columns }}<br />-->
<div class="row">
	<div class="col-md-3 leftCol">
		<form id='widget_form' enctype="multipart/form-data" role="form" action="." method="post">
		  {% csrf_token %}
		  {{ form|crispy }}
		  {# form.as_p #}
		  <hr>
		  <button class="btn btn-primary confirm" type="button">{%trans 'Save'%}</button>
		</form>
	</div>
	<div class="col-md-9 rightCol"></div>
</div>
<hr>
{% endblock content %}
{% block page_specific_js %}
<script>
	DjangoQGIS.localVars['update'] = false;
	DjangoQGIS.localVars['layer_columns'] = {{ layer.database_columns | safe }};
	DjangoQGIS.localVars['layer_name'] = "{{ layer.name }}";
	{% if object.pk %}
	DjangoQGIS.localVars['update'] = true;
	DjangoQGIS.localVars['widget'] = {
		name : '{{ object.name }}',
		widget_type : '{{ object.widget_type }}',
		body : {{ object.body | safe }}
	}
	{% endif %}
</script>
<script src="{{ STATIC_URL }}js/widget.js"></script>
{% endblock %}
