{% extends 'base.html' %}
{% block extra-head %}
{% load i18n%}
<script src="{{ STATIC_URL }}js/main.js"></script>
{% endblock %}
{% block nav-widgets %}active{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li>
    <a href="{% url 'home' %}">{% trans 'Home' %}</a>
  </li>
  <li>
    <a href="{% url 'widget-list' %}">{% trans 'Widgets' %}</a>
  </li>
  <li class="active">{{ object }}</li>
</ul>
{% endblock %}

{% block content %}
<h1>
  <span class="pull-right">
    <a class="btn btn-warning " href="{% url 'widget-update' object.slug %}">
      <i class="glyphicon glyphicon-pencil"></i> {% trans 'Edit' %}
    </a>
    <a class="btn btn-danger" href="{% url 'widget-delete' object.slug %}">
      <i class="glyphicon glyphicon-remove"></i> {% trans 'Remove' %}
    </a>
  </span>
  {{ object.name }}
  <br />
  <small>{{ object.get_widget_type_display }}</small>
</h1>
<hr>
<dl>
  <dt>{%trans 'Name'%}</dt>
  <dd>{{ object.name }}</dd>
  <dt>{%trans 'Type'%}</dt>
  <dd>{{ object.widget_type }}</dd>
  <dt>{%trans 'Body'%}</dt>
  <dd>{{ object.body }}</dd>
</dl>
<hr>
{% endblock content %}
