{% extends 'base.html' %}
{% load i18n%}
{% block nav-about %}active{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li>
    <a href="{% url 'home' %}">{% trans 'Home' %}</a>
  </li>
  <li class="active">{% trans 'About' %}</li>
</ul>
{% endblock %}

{% block content %}
<h1><a href="http://www.gis3w.it">Gis3W</a></h1>
<br />
<h3><a href="http://www.gis3w.it/service/web">Settore WebGis</a></h3>
<p><strong>Gis3W</strong> sviluppa <strong>applicazioni WebGis</strong>, altamente personalizzabili, per la <strong>pubblicazione e la raccolta di dati cartografici</strong>.</span></a></p>
<p>Ottimizzate per applicazioni tecniche o divulgative, soddisfano esigenze e necessità di <strong>Pubbliche Amministrazioni</strong>, <strong>Enti di Ricerca</strong> e <strong>Aziende Private</strong>.</p>

<h3><a href="http://www.gis3w.it/service/gis">Settore Sistemi Informativi Geografici</a></h3>
<p><strong>Gis3W</strong> realizza <strong>Sistemi Informativi Geografici</strong> compatibili con gli standard internazionali dell'<strong>Open Geospatial Consortium</strong> e con la direttiva europea <strong>Inspire</strong>.</span></a></p>
<p><strong>Gis3W</strong> sviluppa inoltre <strong>plugin di analisi e gestione dati</strong> per i principali software geografici Open Source Desktop e Web.</span></a></p>

<h3><a href="http://www.gis3w.it/service/edu">Settore Formazione</a></h3>
<p><strong>Gis3W </strong>realizza corsi formativi su <strong>Software Geografici Open Source</strong>.</span></a></p>
<p><Corsi standard o disegnati sulle vostre richieste, in grado di formare semplici <strong>utilizzatori</strong> del software geografico o <strong>amministratori di infrastrutture GIS, DataBase Geografici e applicazioni WebGis</strong></p>

<br />
<br />
<h4>GIS3W S.a.S.</h4>
<p>Viale G. Verdi, 24<br />
51016 - Montecatini Terme (PT)<br />
Fax: 0572 901639v<br />
P. IVA 01782000473</p>
<p>Sito Web: <a href="http://www.gis3w.it" target="_blank">www.gis3w.it</a></p>
<br />
<h4>Contatti</h4>
<p><strong>Per contatti o richieste di qualsiasi genere</strong>, scrivere a: <a href="mailto:info@gis3w.it">info@gis3w.it</a></p>

</p>
{% endblock content %}
