{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}DjangoQGIS{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="DjangoQGIS">
    <meta name="author" content="Gis3W srl (hhtp://www.google.it)">

    <!-- CSS stuff --------------------------------------------------------- -->
    {% block head_css_includes %}
<!--     <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
		<link href="{{ STATIC_URL }}bootstrap320/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        /* 60px to make the container go all the way to the bottom of the topbar */
        padding-top: 60px;
      }
    </style>
<!--     <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"> -->
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
    {% endblock %}

    <!-- JS stuff ---------------------------------------------------------- -->
    {% block head_js_includes %}
    <script src="{{ STATIC_URL }}bootstrap320/js/bootstrap.min.js" ></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% endblock %}

    <!-- Icon stuff -------------------------------------------------------- -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="bootstrap/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="bootstrap/ico/favicon.png">

    <!-- Extra stuff ------------------------------------------------------- -->
    {% block extra-head %}{% endblock %}

  </head>

  <body>

    <!-- Navigation -------------------------------------------------------- -->
    {% block nav %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
	      <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">DjangoQGIS</a>
	   	 </div>
          <div class="collapse navbar-collapse" id="main-navbar">
           {% if user.is_authenticated %}
            <ul class="nav navbar-nav">
              <li class="{% block nav-home %}{% endblock %}"><a href="{% url 'home' %}"><i class="glyphicon glyphicon-home"></i> {%trans 'Home'%}</a></li>
              <li class="{% block nav-projects %}{% endblock %}"><a href="{% url 'group-list' %}"><i class="glyphicon glyphicon-globe"></i> {%trans 'Maps'%}</a></li>
              <li class="{% block nav-widgets %}{% endblock %}"><a href="{% url 'widget-list' %}"><i class="glyphicon glyphicon-wrench"></i> {%trans 'Widgets'%}</a></li>
              <li class="{% block nav-about %}{% endblock %}"><a href="{% url 'about' %}"><i class="glyphicon glyphicon-info-sign"></i> {%trans 'About'%}</a></li>
            </ul>
            {% endif %}
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown {% block nav-account %}{% endblock %}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-user"></i> 
                  {% if user.first_name %}{{ user.first_name }} {{ user.last_name }}
                  {% else %}{{ user.username }}
                  {% endif %} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'logout'%}"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
                </ul>
              </li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
              <li class="{% block nav-login %}{% endblock %}"><a href="#{# url 'auth_login' #}">{% trans 'Login'%}</a></li>
            </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endblock %}

    <!-- Content ----------------------------------------------------------- -->

    <div class="container">
      {% block breadcrumbs %}{% endblock %}
      {% block content %}{% endblock %}
    </div>

    <!-- JS stuff ---------------------------------------------------------- -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block foot_js %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    {% endblock %}
    {% block page_specific_js %}{% endblock %}
  </body>
</html>
