{% extends 'base.html' %}
{% block nav-home %}active{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li class="active">Home</li>
</ul>
{% endblock %}

{% block content %}
<h1>Django QGIS</h1>
<p><strong>Gis3W ha sviluppato una applicazione web, basata sul framework Django, che permette di gestire in modo integrato le diverse componenti di QGIS per la realizzazione del proprio Sistema Informativo Geografico e per la pubblicazione su WebGis dei propri progetti in modo semplice ed intuitivo.</strong></p>
<p><span id="result_box" lang="it" xml:lang="it"><span>Django-QGIS si basa</span> <span class="hps">interamente su</span> <span class="hps">collaudati</span> <span class="hps">componenti software Open Source costruiti intorno a </span><span class="hps">Q</span><span class="hps">GIS</span>:</span></p>
<ul><li><span id="result_box" lang="it" xml:lang="it"><a href="/it/qgis-desktop" target="_blank"><strong><span class="hps">QGIS Desktop</span></strong></a>: per la gestione dei dati cartografici, l'editing e la realizzazione di progetti grafici di alta qualità</span></span></li>
<li><strong><span id="result_box" lang="it" xml:lang="it"><span class="hps"><a href="/it/qgis-browser" target="_blank">QGIS Browser</a>: </span></span></strong>per la visualizzazione semplice e veloce dei dati in locale, su GeoDB e per la consultazione di servizi OGC</li>
<li><span id="result_box" lang="it" xml:lang="it"> <a href="/it/qgis-server" target="_blank"><strong><span class="hps">QGIS Server</span></strong></a>: per la pubblicazione di servizi OGC: WMS, WFS e WFS-T</span></span></li>
<li><span id="result_box" lang="it" xml:lang="it"><a href="/it/qgis-web-client" target="_blank"><strong><span class="hps">QGis Web Client</span></strong></a><span><strong>:</strong> per la pubblicazione e la visualizzazione dei propri progetti cartografici</span></span></li>

</ul><h3><strong><span id="result_box" lang="it" xml:lang="it">Gestione pubblicazione progetti cartografici e contenuti multimediali</span></strong></h3>
<p>Tramite l'interfaccia web basata sul framework Django e sviluppata da Gis3W è possibile:</p>
<ul><li>gestire i permessi di accesso ai singoli progetti</li>
<li>definire collegamenti tar la cartografia e database esterni</li>
<li>creare e gestire metodi di ricerca</li>
<li>creare e gestire popup e hyperlink</li>
</ul>
{% endblock content %}
